{% extends 'base/layout.html' %}

{% block main_content %}

<div class="container py-3 my-3">

    
    <div class="row d-flex justify-content-center" >
        <div class="col-9 card p-3">
            <h4>Add New Project</h4>
            {% for message in messages %}
              <div class="alert alert-warning">
                  {{message}}
              </div>
            {% endfor %}
            <hr>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="row mb-3">
                    <div class="col">
                        {{form.project_name.label_tag}}
                        {{form.project_name}}
                    </div>
                    <div class="col">
                        {{form.category.label_tag}}
                        {{form.category}}
                    </div>

                </div>
                <div class="row mb-3">
                    <div class="col">
                        {{form.price_type.label_tag}}
                        {{form.price_type}}
                    </div>
                    <div class="col">
                        {{form.budget.label_tag}}
                        {{form.budget}}
                    </div>
                    <div class="col">
                        {{file_form.document.label_tag}}
                        {{file_form.document}}
                        <!-- <label for="">Documents</label>
                        <input type="file" class="form-control" name="documents" multiple> -->
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        {{form.period_of_projects.label_tag}}
                        {{form.period_of_projects}}
                    </div>
                    <div class="col">
                        {{form.start_date.label_tag}}
                        {{form.start_date}}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        {{form.company.label_tag}}
                        {{form.company}}
                    </div>
                    <div class="col">
                        {{form.technology.label_tag}}
                        {{form.technology}}
                    </div>
                    <div class="col">
                        {{form.skills.label_tag}}
                        {{form.skills}}
                    </div>
                </div>
                <div class="mb-3">
                    {{form.ref_link.label_tag}}
                    {{form.ref_link}}
                </div>
                <div class="mb-3">
                    <!-- {{form.description.label_tag}}
                    {{form.description}} -->
                    <textarea id="mytextarea" name="description">write project description</textarea>
                   
                </div>
                <button type="submit" class="btn btn-outline-success">create</button>
            </form>
        </div>
    </div>

</div>


{% endblock main_content %}